extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Corey Miller
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
           |I am a web developer based in Charlotte, NC. I am currently working as a security guard full time and learning more code by night.
           |I am very excited to start a new career that will give me a large deal more job satisfaction and drive in life. 
           |I have found coding to be a very fun and rewarding undertaking and think I will be a great choice for future employers. 
           |I may be a little bit older than some however I make up for it in my willingness to learn and my drive to be better than myself every day.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //-Skills
        ul
          li JavaScript
          li Express
          li Node.js
          li Pug
          li HTML
          li CSS
          li Responsive Web Design
          li AJAX
          li JQuery
          li Git
          li RESTful API's
        h6 Contact Info

        ul
          li 555-555-1234
          li CoreyMiller353@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/corey-miller85/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Corey-Miller85' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/CoreyMiller85' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  